$test-border: 1px solid #777

*
  box-sizing: border-box

body
  margin: 0
  display: flex
  font-family: "Nanum Gothic", serif

.empty-column-box
  flex: 1

.content
  width: 360px
  max-width: 360px
  min-width: 360px
  height: 640px
  min-height: 640px
  display: flex
  align-items: center
  flex-direction: column



@mixin category-button
  flex: 1
  cursor: pointer
  border: $test-border