$test-border: 1px solid #777

@mixin category-button
  display: flex
  justify-content: center
  align-items: center
  flex: 1

  cursor: pointer

@mixin margin-10-horizon
  margin: 0 10px

@mixin lists-basic-property
  flex: 1
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  overflow: auto

@mixin profile-image-property
  height: 40px
  width: 40px
  border-radius: 50%
  margin: 0 10px

@mixin atag-icon-deco
  text-decoration-line: none
  color: white

@mixin icon-button-hover-property
  cursor: pointer
  &:hover
    color: #00B7FF
