@import global
@import util

.button
  @include category-button
  &:hover
    color: #00B7FF
    border-bottom: 1px solid #444

.background-image
  display: flex
  justify-content: center
  position: relative

  width: 100%
  height: 430px

  background: url("../../images/kakao-talk/profile-background.jpeg") center
  background-size: cover
  border: $test-border
  > .top-menu-box
    display: flex
    align-items: center
    justify-content: space-between

    width: 100%
    height: 50px
    border: $test-border
    > a
      @include atag-icon-deco
      @include margin-10-horizon
      cursor: pointer

  > .bottom-menu-box
    display: flex
    align-items: flex-start
    position: absolute
    bottom: 0

    width: 100%
    height: 30px

    border: $test-border
    > a
      display: flex
      justify-content: center
      align-items: center

      width: 1.3rem
      height: 1.3rem
      margin: 0 5px

      border-radius: 50%
      border: solid 1px #eee

      > i
        color: #eee
        cursor: pointer
      > i.fas
        font-size: 1rem
      > i.material-icons
        font-size: 1.2rem

  > .title-image
    position: absolute
    bottom: -20px

    width: 100px
    height: 100px

    background-image: url("../../images/kakao-talk/title-profile.jpg")
    background-position: 50% 20%
    background-size: cover
    border-radius: 50%
    border: $test-border

.profile-content
  display: flex
  flex-direction: column
  align-items: center


  width: 100%
  height: 170px

  border: $test-border

  > .name
    width: 100%
    height: 20px
    margin-top: 30px

    text-align: center
    border: $test-border
  > .phone-number
    height: 20px

    text-align: center
    font-size: 0.8rem
    border: $test-border
  > .buttons-box
    display: flex
    justify-content: center

    width: 100%
    height: 60px
    margin-top: 20px

    border: $test-border

    > .button-box
      width: 45px
      height: 100%
      margin: 0 20px

      border: $test-border