doctype html
html
    head
        meta(charset="UTF-8")
        title instagram

        link(rel='stylesheet', href='/stylesheets/instagram.css')

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    body
        header
            .menu-grid
                .empty-column-box
                .content
                    img.camera(src="/images/instagram/insta-camera.jpg"
                    alt="카메라로고 이미지")
                    //i.column-bar
                    img.logo(src="/images/instagram/instagram_logo.png"
                    alt="로고 이미지")
                    form.search-box
                        input(type="search" placeholder="Search")
                        i.fas.fa-search
                    i.far.fa-heart
                    i.far.fa-user
                    i.far.fa-compass
                .empty-column-box
            .profile-grid
                .empty-column-box
                .content
                    img.person(src="/images/instagram/person.jpg"
                    alt="프로필 사람 이미지")
                    .profile-content
                        .profile-name
                            .name selenagomez
                            i.fas.fa-check-circle
                            .follow-button follow
                        .profile-introduce Selena Gomez By grace through faith.
                            br
                            | smarturl.it/BackToYouSG
                        .profile-configure
                            .posts-configure
                                .value 1,190
                                .configure-name posts
                            .followers-configure
                                .value 80.7m
                                .configure-name followers
                            .following-configure
                                .value 248
                                .configure-name following
                .empty-column-box

            .category-grid
                .empty-column-box
                .content
                    i.fas.fa-th
                    i.fas.fa-bars
                    i.fas.fa-map-marker-alt
                    i.fas.fa-user-circle

                .empty-column-box
        section
            .media-grid
                .empty-column-box
                .content
                    .media-box
                        img.media(src="/images/instagram/image-1.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-2.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-3.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-4.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-5.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-6.jpeg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-7.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-8.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-9.jpeg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-10.jpg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-11.jpeg")
                        .curtain
                    .media-box
                        img.media(src="/images/instagram/image-12.jpg")
                        .curtain

                .empty-column-box
            .circle-button
                .inner-circle-border