doctype html
html
    head
        meta(charset="UTF-8")
        title kakao talk

        block link

        link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    body
        .empty-column-box
        .content
            block content

        .empty-column-box
