a(href="/kakaotalk/friends").profile-button.button
    i.material-icons person
a(href="/kakaotalk/chatting-list").chatting-button.button
    i.far.fa-comment
.news-button.button
    i.far.fa-newspaper
a(href="/kakaotalk/configure").etc-button.button
    i.material-icons more_horiz