extends main.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/main.css')
    link(rel='stylesheet', href='/stylesheets/kakaotalk/chatting-list.css')

block category
    include category

block friends
    .chatting-list
        img(src="/images/kakao-talk/profile-3.jpg" alt="profile image")
        .content-box
            .name 이승만
            .sentence 으아아아아ㅏㅏ아ㅏ
                br
                | 모르겠어여ㅓㅓ어어ㅓㅓㅓㅓ어ㅓ어ㅓ러ㅓㅑ
    .chatting-list
        img(src="/images/kakao-talk/profile-6.jpg" alt="profile image")
        .content-box
            .name 윤보선
            .sentence 화이링이에요~
    .chatting-list
        img(src="/images/kakao-talk/profile-9.jpg" alt="profile image")
        .content-box
            .name 박정희
            .sentence MaboPlayLogo.swift
    .chatting-list
        img(src="/images/kakao-talk/profile-11.png" alt="profile image")
        .content-box
            .name 최규하
            .sentence 넵넵 내일 봬여!!
    .chatting-list
        img(src="/images/kakao-talk/profile-1.jpg" alt="profile image")
        .content-box
            .name 전두환
            .sentence 넵 쉬세요~
    .chatting-list
        img(src="/images/kakao-talk/profile-2.jpg" alt="profile image")
        .content-box
            .name 노태우
            .sentence 안녕하세요 배달의민족입니다
    .chatting-list
        img(src="/images/kakao-talk/profile-4.jpg" alt="profile image")
        .content-box
            .name 김영삼
            .sentence 와
    .chatting-list
        img(src="/images/kakao-talk/profile-5.jpg" alt="profile image")
        .content-box
            .name 김대중
            .sentence 관심있는분 있을까봐 공유드려요
    .chatting-list
        img(src="/images/kakao-talk/profile-7.jpg" alt="profile image")
        .content-box
            .name 노무현
            .sentence config.zip
    .chatting-list
        img(src="/images/kakao-talk/profile-8.jpg" alt="profile image")
        .content-box
            .name 이명박
            .sentence 결제가 완료되었습니다.
    .chatting-list
        img(src="/images/kakao-talk/profile-10.jpg" alt="profile image")
        .content-box
            .name 박근혜
            .sentence 나가고 싶어요
    .chatting-list
        img(src="/images/kakao-talk/profile-1.jpg" alt="profile image")
        .content-box
            .name 문재인
            .sentence 북미 회담이 잘돼야할텐데
    .chatting-list
        img(src="/images/kakao-talk/profile-1.jpg" alt="profile image")
        .content-box
            .name 문재인
            .sentence 북미 회담이 잘돼야할텐데