extends main.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/chatting.css')

block category
    a(href="javascript:history.back()")
        i.material-icons arrow_back
    .title 설정
    i.material-icons search

