extends main.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/configure.css')

block category
    a(href="javascript:history.back()")
        i.material-icons arrow_back
    .title 설정
    i.i.material-icons search

block friends
    .configure#configure-1
        img(src="/images/kakao-talk/profile-3.jpg" alt="profile image")
        .content-box
            .name 이승만
            .sentence 으아아아아ㅏㅏ아ㅏ
                br
                | 모르겠어여ㅓㅓ어어ㅓㅓㅓㅓ어ㅓ어ㅓ러ㅓㅑ
    .configure#configure-2
    .configure#customer-service
