extends main.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/configure.css')

block category


block friends
    .chatting-list
        img(src="/images/kakao-talk/profile-3.jpg" alt="profile image")
        .content-box
            .name 이승만
            .sentence 으아아아아ㅏㅏ아ㅏ
                br
                | 모르겠어여ㅓㅓ어어ㅓㅓㅓㅓ어ㅓ어ㅓ러ㅓㅑ