extends layout.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/friends.css')

block content
    .category
        .profile-button.button
        .chatting-button.button
        .news-button.button
        .etc-button.button
    .profiles
        .my-profile
            .title 내 프로필
            .profile
                img(src="/images/kakao-talk/profile-1.jpg")
                .name 허재종
        .group
            .title 그룹
            .profile
                img#plus-friend(src="/images/kakao-talk/plus-friend.png")
                .name 플러스친구
        .friends
            .title 그룹
            .profile
                img(src="/images/kakao-talk/plus-friend.png")
                .name 플러스친구
    .util-box
        .button-1.button
        .button-2.button
        .button-3.button