extends layout.pug

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/friends.css')

block content
    .category
    .profiles
        .my-profile
        .group
        .friends
    .util-box
