.my-profile
    .title 내 프로필
    .profile
        img(src="/images/kakao-talk/profile-1.jpg")
        .name 허재종
.group
    .title 그룹
    .profile#plus-friend
        img(src="/images/kakao-talk/plus-friend.png")
        .name 플러스친구
        .introduce 8
        i.material-icons arrow_forward_ios

.friends
    .title 친구 98
    .profile
        img(src="/images/kakao-talk/profile-2.jpg")
        .name 문재인
        .introduce Cerca Trova
    .profile
        img(src="/images/kakao-talk/profile-3.jpg")
        .name 박근혜
    .profile
        img(src="/images/kakao-talk/profile-4.jpg")
        .name 이명박
        .introduce ♡♡♡
    .profile
        img(src="/images/kakao-talk/profile-9.jpg")
        .name 안혜진
        .introduce 안심하라구!
    .profile
        img(src="/images/kakao-talk/profile-5.jpg")
        .name 노무현
        .introduce 이쁜혜영이
    .profile
        img(src="/images/kakao-talk/profile-6.jpg")
        .name 김대중
        .introduce 쓰담쓰담 - 10cm
    .profile
        img(src="/images/kakao-talk/profile-7.jpg")
        .name 김영삼
        .introduce 건강과 안전, 최고의 가치입니다
    .profile
        img(src="/images/kakao-talk/profile-8.jpg")
        .name 노태우
        .introduce 후반전~
    .profile
        img(src="/images/kakao-talk/profile-10.jpg")
        .name 전두환