doctype html
html
    head
        meta(charset="UTF-8")
        title kakao talk

        link(rel='stylesheet', href='/stylesheets/kakaotalk/login.css')

        link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    body
        .empty-column-box
        .content
            .window-button-box
                i.material-icons#menu sort
                i.far.fa-window-minimize
                i.material-icons close

            img.logo(src="../../images/kakao-talk/logo-squared.png")
            form.user-info(action="" method="post")
                .info-box#email
                    input(type="email" placeholder="카카오계정 (이메일)")
                    i.material-icons arrow_drop_down
                .info-box
                    input(type="password" placeholder="비밀번호")
            form.login(action="" method="post")
                input(type="button" value="로그인")
            .login-option
                label
                    input(type="checkbox")
                    | 잠금모드로 자동로그인

            .guide-id
                .detail-explanation 모바일에서 카카오계정을 확인할 수 있습니다.
            .guide-password
        .empty-column-box

