doctype html
html
    head
        meta(charset="UTF-8")
        title kakao talk

        link(rel='stylesheet', href='/stylesheets/kakaotalk/login.css')

        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    body
        .empty-column-box
        .content
            .window-button-box
            .logo
            .user-info
            .login
            .login-option
            .guide-id
            .guide-password
        .empty-column-box

