extends basic

block link

block content
    .category
        block category

    .lists
        block friends

    .util-box
        .button-1.button
            i.fas.fa-exchange-alt
        .button-2.button
            i.material-icons crop_square
        .button-3.button
            i.material-icons arrow_back