extends basic

block link
    link(rel='stylesheet', href='/stylesheets/kakaotalk/personal-profile.css')

block content
    .background-image
        .top-menu-box
            a(href="javascript:history.back()")
                i.material-icons close
            a
                i.material-icons insert_photo

        .bottom-menu-box
            a
                i.fas.fa-gift
            a
                i.fas.fa-won-sign
            .empty-column-box
            a
                i.material-icons star

        .title-image
    .profile-content
        .name 문재인
        .phone-number 010-1234-5678
        .buttons-box
            .button-box
                .icon-background
                    i.fas.fa-comment
                .title 1:1채팅
            .button-box
                .icon-background
                    i.material-icons phone
                .title 무료통화
            .button-box
                .icon-background
                    i.material-icons format_quote
                .title 카카오스토리
    .util-box
        include util-box

